@import url(var.css);

/* --------------------LIGHTMODE-------------------------- */

.filtering{
    position: relative;
    height: 3rem;
    margin-top: 2.5rem;
    width: 30rem;
    font-family: Helvetica, sans-serif;
    justify-self: center;
    cursor: pointer;
}
.select-clicked{
    border: 2px #26489a solid; 
    box-shadow: 0 0 0.8em #26489a;
}
.select {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #2a2f3b;
    color: #fff;
    width: 100%;
    font-size: 20px;
    transition: background 0.3s;
}
.select:hover{
    background: var(--filter-darkmode);
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    position: absolute;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border-radius: 0.5em;
    overflow: hidden;
    color: #9fa5b5;
    background-color: var(--filter-darkmode);
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: var(--filter-darkmode);
    font-size: 18px;
}
.menu li:hover{
    background-color: #2a2d35;
}

.active{
    background: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;

}

/* --------------------DARKMODE------------------------- */
