@import url(var.css);

.setting-btn-toggle{
    margin: 1rem 1rem;
    position: absolute;
    width: 4rem;
    height: 14rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10%;
}
.setting-btn-toggle ul{
    font-size: 40px;
}
.setting-btn {
    width: 4rem;
    font-size: 40px;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; 
    border-radius: 50%;
    flex-direction: column;
}
.setting-btn i{
    color: rgb(255, 255, 255);
}

