@import url(var.css);

.setting-btn, .setting-btn.-toggle{
    margin: 1rem 1rem;
    position: absolute;
    width: 4rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    cursor: pointer;
}
.setting-btn{
    height: 4rem;
}
.setting-btn.-toggle{
    height: 14rem;
}
.setting-btn.-toggle ul, .setting-btn ul{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    height: 100%;
    font-size: 40px;
    text-align: center;
}
.setting-btn.-toggle ul i, .setting-btn ul i{
    color: rgb(255, 255, 255);
}

