@import url(var.css);

.bodyThing{
  position: absolute;
  background: var(--bg);
}
.bodyThing2{
  position: absolute;
  background: var(--bg);
}

.container{
  display: flex;
  width: 90%;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
img{
  width: 70%;
  border-radius: 20px;
}
.card{
  width: 30%;
  background-color: var(--card);

  margin-top: 3rem;
  border-radius: 30px;
  height: 40rem;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .card {
    width: 45%;  /* On smaller screens, use 45% width */
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;  /* On very small screens, use full width */
  }
}



.btnAlpha{
  cursor: pointer;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: medium;
  padding: 10px;
  background-color: var(--item);
  color: #ffffff;
  border: 2px solid var(--item);
  position: fixed;
  margin: 2rem;
  
}