@import url(var.css);

.bodyThing-Lightmode{
  background: var(--lightmode);
}
.btnAlpha{
  cursor: pointer;
}
.container{
  display: flex;
  width: 90%;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
img{
  width: 70%;
  border-radius: 20px;
}
.card{
  width: 30%;
  background-color: var(--light-secondary);
  color: var();
  margin-top: 3rem;
  border-radius: 30px;
  height: 40rem;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .card {
    width: 45%;  /* On smaller screens, use 45% width */
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;  /* On very small screens, use full width */
  }
}

.card-darkmode{
  background-color: blue;
}